.green{
    background-color: green;
}

.grey{
    background-color:  rgb(0, 172, 0);
    border-radius: 3px;
    padding: 14px 10px;
    text-align: center;
}

.blue{
    background: rgb(133, 4, 4);
    padding: 14px 10px;
    text-align: center;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 700;
    color: whitesmoke;
}

.yellow{
    background-color: rgb(112, 2, 2);
    text-align: center;
    padding: 30px 10px;
    border-radius: 10px;
    color: whitesmoke;
}

.orange{
    background-color: rgba(242, 255, 0, 0.412);
    text-align: center;
    padding: 14px 10px;
    border-radius: 3px;
}
.purple{
    background-color: rgba(242, 255, 0, 0.412);
    text-align: center;
    padding: 6px 10px;
    border-radius: 3px;
}
.red{
    background-color: red;
    text-align: center;
    padding: 7px 10px;
    font-size: larger;
}
.white{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 10px;
}
.presta{
    background-color: rgb(0, 172, 0);
    border-radius: 3px;
    text-align: center;
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'calibri';
    font-weight: 600;
    text-transform: uppercase;
}

.hijo-peque {
    height: 20%;
}

.hijo-grande {
    height: 60%;
}

.max-content {
    height: 100%;
}
.alin {
    border-radius: 10px;
    text-align: right;
    font-size: larger;
}
.inbotones{
    background-color: transparent;
    padding: 5px 10px;
    margin: 10px;
    margin-top: 20px;
    text-align: left;
    font-size: larger;
    font-weight: 700;
}
.botones {
    background-color: red;
    padding: 14px 10px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    cursor: pointer;
    color: whitesmoke;
}